
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 6% 13%;
    --foreground: 0 0% 100%;

    --card: 220 7% 18%;
    --card-foreground: 0 0% 100%;

    --popover: 220 7% 18%;
    --popover-foreground: 0 0% 100%;

    --primary: 235 86% 65%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217 8% 34%;
    --secondary-foreground: 0 0% 100%;

    --muted: 220 7% 18%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 235 86% 65%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 217 8% 34%;
    --input: 217 8% 34%;
    --ring: 235 86% 65%;

    --radius: 0.5rem;

    --sidebar-background: 220 8% 23%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 235 86% 65%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 235 86% 65%;
  }

  .light {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 235 86% 65%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.chat-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.chat-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.chat-scrollbar::-webkit-scrollbar-thumb {
  background: hsl(var(--border));
  border-radius: 20px;
}

.chat-scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--primary));
}
